/venv

*.bz2
*.jpg
*.log
*.html
*.rar
*.zip
*.txt
*.csv
*.npz
*.xlsx
*.7z
*.ipynb
*.docx
*.dbf

!requirements.txt

!tests/data/*.txt
!tests/data/*.xlsx

*.idea*
*__pycache__*
*.pytest_cache*
*.ipynb_checkpoints*

